* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #707070;
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: Ubuntu;
    width: 100vw;
}

h1,
h2,
h3 {
    font-family: 'Lora', serif;
    color: #143774;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
}

nav ul li {
    list-style: none;
}

a {
    color: #1792D2;
}

img {
    width: 100%;
}

/* Classes Styles */

/* contains the entire website GENERICS - LAYOUT*/
/* .root-container {
width: 100vw;
} */

.content-container {
    display: flex;
    margin: 1rem auto;
}

.container {
    max-width: 980px;
    margin: 0 auto;

}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* Brand logo, Navigation Links, Header Start */
header.navbar {
    margin: 0 auto 4rem;
    padding: 4em 0;
    background-color: #f8f8f8;
}

.title {
    font-size: 2.6rem;
    font-weight: 200;
    font-family: 'Lora', serif;
    margin-bottom: 0.25rem;
}

.subtitle,
.link-to-article {
    text-transform: uppercase;
    color: #1792D2;
    font-size: 1rem;
    letter-spacing: 2.4;
}

.nav-item {

    margin: 1rem 0.5rem;
    align-self: flex-end;
}

.nav-item a {
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #707070;
    align-self: auto;
}

.navigation li a:hover,
.navigation li a:focus {
    color: #1792D2;
}

.current,
.navigation a:active {
    padding-bottom: .5rem;
    border-bottom: 2px solid #707070;
}

.navigation,
.subtitle {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

header.navbar>.container {
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

/* Header Ends */

/* content style */

.main {
    margin: 0 2rem 0 0;
    flex-grow: 3;
    width: 100%;

}

.aside {
    align-self: flex-start;
    flex-grow: 1;
    flex-direction: column;
    width: 25%;
}

aside {
    font-family: "Ubuntu";
    text-align: left;
    letter-spacing: NaNpx;
    color: #143774;
    opacity: 1;

}

article.container {
    margin: 1em auto;
}

.article-photo {
    width: 100%;
}

/* .food {
    background-image: url("/img/food.jpg");
    background-size: auto;
}

.life {
    background-image: url("/img/life.jpg");
}

.work {
    background-image: url("/img/work.jpg");
}

.deco {
    background-image: url("/img/deco.jpg");
}

.author-pic {
    background-image: url('/img/author.jpg');
} */
.aside {
    border: 1px solid red;
}

.aside>.container {
    padding: 1em;
    border: 20px solid #EBEBEB;
    margin-bottom: 2em;
}

.aside>.container>h2 {
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
}

.aside>.container>article.container {
    border-bottom: 1px solid #707070;
}


/* footer style */
.footer {
    background-color: #143774;
    margin-top: 2em;
    padding: 3em;
    bottom: 0;
}

footer>p {
    font-size: 1.25rem;
    text-align: center;
    color: white;
    font-weight: bold;
}

.copyright {
    color: hotpink;
}